@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: rgb(255, 255, 255);
  color: #2b2a29;
}
.bdr {
  border: 1px solid #ff0202;
}
.uni {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uni_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fix_w {
  width: 100%;
  max-width: 1400px;
}
.menu_btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #851e1b;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu_btn:hover {
  background-color: #A21410;
}
.ftr_btn {
  font-size: 14px;
  font-weight: 500;
}
